# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
/dist
/build

# Dependencies
package-lock.json
yarn.lock

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# npm package
npm-debug.log
